@model OnlineStore.WebUI.Models.AssetAuctionBundleModel



<div class="table table-responsive" style="padding:20px;">

    <div class="card">
        <div class="card-header">
            CREATE NEW AUCTION BUNDLE
        </div>
        @using (Html.BeginForm("AddNewBundle", "OrdersList", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Bundle Title</label>
                        @Html.EditorFor(model => model.BundleTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "BundleTitle" } })
                        <input type="text" id="BundleTitle" name="@Model.BundleTitle" value="" required placeholder="BundleTitle" />
                        @Html.ValidationMessageFor(model => Model.BundleTitle, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Bundle Base Price</label>
                        @Html.EditorFor(model => model.BundleBaseprice, new { htmlAttributes = new { @class = "form-control", placeholder = "$Bundle Base Price" } })
                        <input type="text" id="BundleBasePrice" name="@Model.BundleBaseprice" value="" required placeholder="Bundle Base Price" />
                        @Html.ValidationMessageFor(model => Model.BundleBaseprice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Bundle Quick Bid Price</label>
                        @Html.EditorFor(model => model.BundleQuickBidPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "$Bundle Quick Bid Price" } })
                        <input type="text" id="BundleQuickBidPrice" name="@Model.BundleQuickBidPrice" value="" required placeholder="Bundle Quic Bid Price" />
                        @Html.ValidationMessageFor(model => Model.BundleQuickBidPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Bundle BuyPrice</label>
                        @Html.EditorFor(model => model.BundleBuyPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "$Bundle BuyPrice" } })
                        <input type="text" id="BundleBuyPrice" name="@Model.BundleTitle" value="" required placeholder="Bundle Buy Price" />
                        @Html.ValidationMessageFor(model => Model.BundleBuyPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Auction StartDate</label>
                        @Html.EditorFor(model => model.Bundle_Auction_StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "StartDate", id = "Startdatepicker" } })
                        @*<input type="text" id="BundleTitle" name="@Model.BundleTitle" value="" required placeholder="BundleTitle" />*@
                        @Html.ValidationMessageFor(model => Model.BundleTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Auction EndDate</label>
                        @Html.EditorFor(model => model.Bundle_Auction_EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "EndDate", id = "Enddatepicker" } })
                        @*<input type="text" id="BundleTitle" name="@Model.BundleTitle" value="" required placeholder="BundleTitle" />*@
                        @Html.ValidationMessageFor(model => Model.BundleTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="padding-top:10px">
                        @Html.TextAreaFor(model => model.BundleDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter description here..." } })
                    </div>
                </div>

                <div class=" row">
                    <div class="col-md-6" style="padding-top:10px">
                        <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="Images" style="border:none">
                    </div>
                </div>

                <div class="col-md-12" style="padding-top:10px; padding-bottom:10px">
                    @using (Html.BeginForm("AddNewBundle", "OrdersList", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success btn-lg" value="CREATE" id="exampleFormControlInput1" style="float: right">
                    }
                </div>
            </div>
        }
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>


    @*$(document).ready(function (e) {
    });
    function validateFormData()
    {
        var BundleTitleVal = $("#BundleTitle").val();
        var BundleBasePriceVal = $("#BundleBasePrice").val();
        var BundleQuickBidPriceVal = $("#BundleQuickBidPrice").val();
        var BundleBuyPriceVal = $("#BundleBuyPrice").val();
        //var DatePickEndIdVal = $("#DatePickEndId").val();

         $.ajax({
            type: "Post",
            data: {
                "BundleTitle": "BundleTitleVal", "PromoCode": BundleBasePriceVal, "PromoDiscountPercent": BundleQuickBidPriceVal, "BundleBuyPrice": BundleBuyPriceVal},
            url: '@Url.Action("_AddNewBundle", "OrdersList")',
            success: function (data) {
                location.reload(true);
            }
         });

        if (BundleTitleVal == '') {

            alert('Bundle Title Is Empty');
            e.preventDefault();
        }
        if (BundleBasePriceVal == '') {

            alert('Bundle Base Price Is Empty');
            e.preventDefault();
        }
        if (BundleQuickBidPriceVal == '') {

            alert('Bundle Quick Bid Price Is Empty');
            e.preventDefault();
        }
        if (BundleBuyPriceVal == '') {
            alert('Bundle Buy Price Is Empty');
            e.preventDefault();
        }
    }*@



    $(function () {
        $("#Startdatepicker").datepicker();
    });
    $(function () {
        $("#Enddatepicker").datepicker();
    });
    $('#exampleFormControlInput1').click(function () { $('#exampleFormControlInput1').trigger('click'); });
    $('#exampleFormControlInput1').on('change', function (event) {

        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('exampleFormControlInput1');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }

        formdata.append("FileUpload", "exampleFormControlInput1");
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/AssetAuction/Create');
        xhr.send(formdata);
        xhr.onreadystatechange = function (data) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //$.confirm({

                //    content: 'The file has been uploaded successfully.',
                //    boxWidth: '370px',
                //    useBootstrap: false,
                //    buttons: {
                //        OK: function () {

                //        }
                //    }
                //});
            }
        }
    });
</script>


