@model OnlineStore.WebUI.Models.AssetAuctionBundleModel



<div class="table table-responsive" style="padding:20px;">

    <div class="card">
        <div class="card-header">
            CREATE NEW AUCTION BUNDLE
        </div>
        @using (Html.BeginForm("AddNewBundle", "OrdersList", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Bundle Title</label>
                        @Html.EditorFor(model => model.BundleTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "BundleTitle" } })
                    </div>
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Bundle Base Price</label>
                        @Html.EditorFor(model => model.BundleBaseprice, new { htmlAttributes = new { @class = "form-control", placeholder = "$Bundle Base Price" } })

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Bundle Quick Bid Price</label>
                        @Html.EditorFor(model => model.BundleQuickBidPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "$Bundle Quick Bid Price" } })
                   
                    </div>
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Bundle BuyPrice</label>
                        @Html.EditorFor(model => model.BundleBuyPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "$Bundle BuyPrice" } })
                    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Auction StartDate</label>
                        @Html.EditorFor(model => model.Bundle_Auction_StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "StartDate" } })
                    
                    </div>
                    <div class="col-md-6" style="padding-top:10px">
                        <label for="exampleFormControlInput1" class="form-label">Auction EndDate</label>
                        @Html.EditorFor(model => model.Bundle_Auction_EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "EndDate" } })

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="padding-top:10px">
                        @Html.TextAreaFor(model => model.BundleDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter description here..." } })
                    </div>
                </div>

                <div class=" row">
                    <div class="col-md-6" style="padding-top:10px">              
                        <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="Images" style="border:none">
                    </div>
                </div>

                <div class="col-md-12" style="padding-top:10px; padding-bottom:10px">
                    @using (Html.BeginForm("AddNewBundle", "OrdersList", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-success btn-lg" value="CREATE" id="exampleFormControlInput1" style="float: right">
                    }
                </div>
            </div>
        }
    </div>
</div>

<script>
    $('#exampleFormControlInput1').click(function () { $('#exampleFormControlInput1').trigger('click'); });
    $('#exampleFormControlInput1').on('change', function (event) {
        debugger;
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('exampleFormControlInput1');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }

        formdata.append("FileUpload", "exampleFormControlInput1");
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/AssetAuction/Create');
        xhr.send(formdata);
        xhr.onreadystatechange = function (data) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //$.confirm({

                //    content: 'The file has been uploaded successfully.',
                //    boxWidth: '370px',
                //    useBootstrap: false,
                //    buttons: {
                //        OK: function () {

                //        }
                //    }
                //});
            }
        }
    });
</script>


