@using System.Linq;
@model OnlineStore.WebUI.Models.OrderViewModel
@{
    ViewBag.Title = "MANAGEORDERS";
}
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<div class="container" style="width:1200px; padding-top:20px;margin-left:-22px">
    <div class="panel-heading">
        <ul class="nav nav-tabs" style="padding-top:15px;" id="myTab">
            <li class="active"><a data-toggle="tab" href="#Tab1">ORDERS</a></li>
            <li><a data-toggle="tab" href="#Tab2">MANUAL ORDER</a></li>
            <li><a data-toggle="tab" href="#Tab3">PRODUCTS</a></li>
            <li><a data-toggle="tab" href="#Tab4">PRODUCTS LIST</a></li>
            <li><a data-toggle="tab" href="#RemoveOrder">SHIPMENTS</a></li>
            <li><a data-toggle="tab" href="#MANAGEDISPATCHORDER">MANAGE</a></li>
        </ul>
    </div>
    <div class="panel-body" style="margin-bottom:0px;border-color:gray">
        <div class="tab-content" style="margin-bottom:0px">
            <div id="Tab1" class="tab-pane fade in active table-bordered" role="tabpanel" style="text-align:left;padding-left:20px;width:1000px; ">

                <br>
                <table class="table table-bordered" table-responsive table-hover" id="mainTable">
                    <thead style="background-color:#959ca1;color:white">
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Order</th>
                            <th>OrderRef</th>
                            <th>SSN</th>
                            <th>SKU</th>
                            <th>Amazon Order No</th>
                            @*<th>SKU</th>*@
                            @*<th>Ref No</th>*@
                            @*<th>Project</th>*@
                            <th>Shipping Address</th>
                            <th>Suburb</th>
                            <th>Postcode</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OnlineSaleOrdersList)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Orderno</td>
                                <td>@item.OrderRef</td>
                                <td>@item.SSN</td>
                                <td>@item.AddressLine1</td>
                                <td>@item.Suburb</td>
                                <td>@item.Postcode</td>
                                @*<td>@item.CustomerProject</td>
                                    <td>@item.CustomerProject</td>
                                    <td>@item.CustomerProject</td>*@
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

            <div id="Tab2" class="tab-pane fade" style="text-align:left;padding-left:20px;width:1500px;">
                @using (Html.BeginForm("ProcessManualOrder", "OrdersList", FormMethod.Post))
                {
                    <div class="col-md-5 table-bordered" style="margin:2px;padding-bottom:15px;">
                        <div class="col-md-6">
                            <label class="control-label">Surname</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.Salutation, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.Salutation, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">First Name</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.FirstName, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Last Name</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.LastName, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Contact Number</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.ContactNumber, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.ContactNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Email</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.Email, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-5 table-bordered" style="margin:2px">
                        <div class="col-md-6">
                            <label class="control-label">AddressLine1</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.AddressLine1, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.AddressLine1, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">AddressLine2</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.AddressLine2, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.AddressLine2, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Locality</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.Locality, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.Locality, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Postcode</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.Postcode, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.Postcode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">State</label>
                            @Html.DropDownList("State", new List<SelectListItem>
                            {
                               new SelectListItem{ Text="NSW", Value = "NSW" },
                               new SelectListItem{ Text="QLD", Value = "QLD" },
                               new SelectListItem{ Text="SA", Value = "SA" },
                               new SelectListItem{ Text="TAS", Value = "TAS" },
                               new SelectListItem{ Text="VIC", Value = "VIC" },
                               new SelectListItem{ Text="WA", Value = "WA" },
                               new SelectListItem{ Text="ACT", Value = "ACT" },
                               new SelectListItem{ Text="NT", Value = "NT" } },
                            new { @class = "form-control", style = "Height:35px" })

                        </div>
                    </div>
                    <div class="col-md-10 table-bordered" style="margin:5px">
                        <div class="col-md-6">
                            <label class="control-label">SSN</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.SSN, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.SSN, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Height</label>
                            @Html.DropDownListFor(m => m.ManualOrdersViewModel.Height, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Weight</label>
                            @Html.DropDownListFor(m => m.ManualOrdersViewModel.Weight, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Width</label>

                            @Html.DropDownListFor(m => m.ManualOrdersViewModel.Width, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Length</label>
                            @Html.DropDownListFor(m => m.ManualOrdersViewModel.Length, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">No Of Items</label>
                            @Html.DropDownListFor(m => m.ManualOrdersViewModel.NoOfItems, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">AmazonOrderNo</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.AmazonOrderNo, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.AmazonOrderNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">SKU</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.SKU, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.SKU, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Ref No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            @Html.EditorFor(model => model.ManualOrdersViewModel.RefNo, "", new { })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.RefNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Project</label>
                            @Html.DropDownListFor(model => model.ManualOrdersViewModel.ProjectId, Model.ManualOrdersViewModel.CustomerProject, "Projects", new { @class = "form-control ItemType", @id = "ddlProjects", style = "Height:40px" })
                            @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.CustomerProject, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary">Complete Order</button>
                        </div>
                    </div>
                }
                </div>
            <div id="Tab3" class="tab-pane fade">
                <div class="col-md-12 table-bordered" style="margin:5px">
                    <div class="col-md-6">
                        <label class="control-label">ProductName</label>
                        @Html.EditorFor(model => model.OnlineSaleProduct.ProductName, "", new {})
                        @Html.ValidationMessageFor(model => Model.OnlineSaleProduct.ProductName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">ItemType</label>
                        @Html.DropDownListFor(model => model.OnlineSaleProduct.ItemType_ID, Model.OnlineSaleProduct.ItemTypes, "ItemType", new { @class = "form-control ItemType", @id = "ddlItemType" })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.CustomerProject, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Brand</label>
                        @Html.DropDownListFor(model => model.OnlineSaleProduct.Brand_ID, Model.OnlineSaleProduct.Makes, "Brands", new { @class = "form-control ItemType", @id = "ddlBrand" })
                        @Html.ValidationMessageFor(model => Model.OnlineSaleProduct.Brand_ID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Model</label>
                        @Html.EditorFor(model => model.OnlineSaleProduct.Model_ID, "", new {})
                        @Html.ValidationMessageFor(model => Model.OnlineSaleProduct.Model_ID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">PriceExGST</label>
                        @Html.EditorFor(model => model.OnlineSaleProduct.PriceExGST, "", new {})
                        @Html.ValidationMessageFor(model => Model.OnlineSaleProduct.PriceExGST, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">GSTAmount</label>
                        @Html.EditorFor(model => model.OnlineSaleProduct.GSTAmount, "", new {})
                        @Html.ValidationMessageFor(model => Model.OnlineSaleProduct.GSTAmount, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">PriceIncGST</label>
                        @Html.EditorFor(model => model.OnlineSaleProduct.PriceIncGST, "", new {})
                        @Html.ValidationMessageFor(model => Model.OnlineSaleProduct.PriceIncGST, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Quantity</label>
                        @Html.EditorFor(model => model.OnlineSaleProduct.QtyAvailable, "", new {})
                        @Html.ValidationMessageFor(model => Model.OnlineSaleProduct.QtyAvailable, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Description</label>
                        @Html.EditorFor(model => model.OnlineSaleProduct.Description, "", new {})
                        @Html.ValidationMessageFor(model => Model.OnlineSaleProduct.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Complete Order</button>
                    </div>
                </div>
            </div>
            <div id="Tab4" class="tab-pane fade">
                <table class="table table-bordered" table-responsive table-hover" id="ProductsTable">
                    <thead style="background-color:#959ca1;color:white">
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>ItemType</th>
                            <th>Brand</th>
                            <th>Model</th>                            
                            <th>PriceExGST</th>
                            <th>GSTAmount</th>
                            <th>PriceIncGST</th>
                            <th>Quantity</th>
                            <th>Description</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OnlineSaleProductList)
                            {
                        <tr>
                            <td>
                                @if (item.ProductImage.Length > 0)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.ProductImage)" width="80" height="80" />
                                }
                            </td>                         
                            <td>@item.ProductName</td>
                            <td>@item.Brand_ID</td>
                            <td>@item.ItemType_ID</td>
                            <td>@item.Model_ID</td>
                            <td>@item.PriceExGST</td>
                            <td>@item.GSTAmount</td>
                            <td>@item.PriceIncGST</td>
                            <td>@item.QtyAvailable</td>
                            <td>@item.Description</td>
                        </tr>
                            }
                    </tbody>
                </table>

            </div>
            <div id="MANAGEDISPATCHORDER" class="tab-pane fade">
                MANAGEDISPATCHORDER

            </div>

        </div>
        <br>
    </div>
</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
    <script src="~/Scripts/confirm.js"></script>
    <link href="~/Content/confirm.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ProductsTable').DataTable();
            $('.dataTables_filter').addClass('pull-right');
        });
    </script>
}
<style>
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-padding {
        padding: 0 15px;
    }
    body {
        padding-top: 40px;
        padding-bottom: 5px;
        /*margin-left:5px;*/
    }
    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 0px;
        padding-right: 5px;
        margin-left: 5px;
    }
    .dataTables_filter {
        float: right;
    }
    .container {
        font-size: 12px;
        padding-left: 25px;
        padding-right: 5px;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-md-6 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 5px
    }
        .col-md-6 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 5px
    }
</style>
