@using System.Linq;
@model OnlineStore.WebUI.Models.OrderViewModel
@{
    ViewBag.Title = "MANAGEORDERS";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Tabs - Default functionality</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>



</head>
<body>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">ORDERS</a></li>
            <li><a href="#tabs-2">MANUAL ORDER</a></li>
            <li><a href="#tabs-3">PRODUCTS LIST</a></li>
            <li><a href="#tabs-4">SHIPMENTS</a></li>
            <li><a href="#tabs-5">MANAGE</a></li>
        </ul>
        <div id="tabs-1">
            <table class="table table-bordered table-responsive table-hover" id="OrdersTable" style="font-size:smaller">
                <thead style="background-color:#959ca1;color:white">
                    <tr>
                        <th>Orderno</th>
                        <th>SKU</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Suburb</th>
                        <th>Postcode</th>
                        <th>Address</th>
                        <th>State</th>
                        <th>ContactNo</th>
                        <th>Email</th>
                        <th>JobNo</th>
                        <th>Status</th>
                        <th>SSN</th>
                        <th>OrderRef</th>
                        <th>AmazonOder</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OnlineSaleOrdersList)
                    {
                        <tr>
                            <td>@item.Orderno</td>
                            <td></td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Suburb</td>
                            <td>@item.Postcode</td>
                            <td>@item.AddressLine1 </td>
                            <td>@item.State</td>
                            <td>@item.ContactNumber</td>
                            <td>@item.Email</td>
                            <td>@item.JobNo</td>
                            <td>@item.OrderStatus</td>
                            <td>@item.SSN</td>
                            <td>@item.OrderRef</td>
                            <td>@item.AmazonOrderNo</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="tabs-2">
            @using (Html.BeginForm("ProcessManualOrder", "OrdersList", FormMethod.Post))
            {
                <div class="col-md-5 table-bordered" style="margin:2px;padding-bottom:15px;">
                    <div class="col-md-6">
                        <label class="control-label">Surname</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.Salutation, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.Salutation, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">First Name</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.FirstName, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Last Name</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.LastName, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Contact Number</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.ContactNumber, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.ContactNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Email</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.Email, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-5 table-bordered" style="margin:2px">
                    <div class="col-md-6">
                        <label class="control-label">AddressLine1</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.AddressLine1, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.AddressLine1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">AddressLine2</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.AddressLine2, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.AddressLine2, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Locality</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.Locality, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.Locality, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Postcode</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.Postcode, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.Postcode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">State</label>
                        @Html.DropDownList("State", new List<SelectListItem>
                        {
                           new SelectListItem{ Text="NSW", Value = "NSW" },
                           new SelectListItem{ Text="QLD", Value = "QLD" },
                           new SelectListItem{ Text="SA", Value = "SA" },
                           new SelectListItem{ Text="TAS", Value = "TAS" },
                           new SelectListItem{ Text="VIC", Value = "VIC" },
                           new SelectListItem{ Text="WA", Value = "WA" },
                           new SelectListItem{ Text="ACT", Value = "ACT" },
                           new SelectListItem{ Text="NT", Value = "NT" } },
                        new { @class = "form-control", style = "Height:35px" })

                    </div>
                </div>
                <div class="col-md-10 table-bordered" style="margin:5px">
                    <div class="col-md-6">
                        <label class="control-label">SSN</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.SSN, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.SSN, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Height</label>
                        @Html.DropDownListFor(m => m.ManualOrdersViewModel.Height, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Weight</label>
                        @Html.DropDownListFor(m => m.ManualOrdersViewModel.Weight, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Width</label>

                        @Html.DropDownListFor(m => m.ManualOrdersViewModel.Width, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Length</label>
                        @Html.DropDownListFor(m => m.ManualOrdersViewModel.Length, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">No Of Items</label>
                        @Html.DropDownListFor(m => m.ManualOrdersViewModel.NoOfItems, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">AmazonOrderNo</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.AmazonOrderNo, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.AmazonOrderNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">SKU</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.SKU, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.SKU, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Ref No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        @Html.EditorFor(model => model.ManualOrdersViewModel.RefNo, "", new { })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.RefNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Project</label>
                        @Html.DropDownListFor(model => model.ManualOrdersViewModel.ProjectId, Model.ManualOrdersViewModel.CustomerProject, "Projects", new { @class = "form-control ItemType", @id = "ddlProjects", style = "Height:40px" })
                        @Html.ValidationMessageFor(model => Model.ManualOrdersViewModel.CustomerProject, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Complete Order</button>
                    </div>
                </div>
            }
        </div>
        <div id="tabs-3">
            <div class="row pull-right">
                <div class="col-md-1">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-default btn-sm" id="addProduct" data-toggle="tooltip" data-placement="left">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-responsive" table-responsive table-hover" id="ProductsTable" style="font-size:smaller">
                <thead style="background-color:#959ca1;color:white">
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Product</th>
                        <th>ItemType</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>PriceExGST</th>
                        <th>GSTAmount</th>
                        <th>PriceIncGST</th>
                        <th>Quantity</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OnlineSaleProductList)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>

                                @*@if (item.ProductImage.Length > 0)
                                    {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(item.ProductImage)" alt="@item.ProductName" width="200" height="150"/>
                                    }*@

                                @if (item.Images.Count > 0)
                                {
                                    <img src="~/ProductImages/@item.Images.FirstOrDefault()" width="10" height="10" />
                                }
                            </td>
                            <td>@item.ProductName</td>
                            <td>@item.Brand_ID</td>
                            <td>@item.ItemType_ID</td>
                            <td>@item.Model_ID</td>
                            <td>@item.PriceExGST</td>
                            <td>@item.GSTAmount</td>
                            <td>@item.PriceIncGST</td>
                            <td>@item.QtyAvailable</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="tabs-4">
            MANAGEDISPATCHORDER
        </div>
    </div>
</body>
<script>
        $(function () {
            $("#tabs").tabs();
        });
        $(document).ready(function () {
            $('#ProductsTable').DataTable();
            $('#OrdersTable').DataTable();
            $('.dataTables_filter').addClass('pull-right');
        });
        $('#addProduct').click(function () {
            debugger;
            var AddSiteURL = '@Url.Action("AddProduct", "OrdersList")'
            $.ajax({
            type: "GET",
            url: AddSiteURL,
            success: function (data) {

            $.confirm({
            boxWidth: '800px',
            useBootstrap: false,
            title: '',
            content: data,
            closeIcon: true,
            buttons: {
            yes: { isHidden: true }
            },
            });
                },
                error: function (result) { alert(result); console.log(result);}
            });
            });
</script>