@using System.Linq;
@model OnlineStore.WebUI.Models.OrderViewModel
<div class="table table-responsive" id="tblCustomers" style="padding-left:50px;padding-bottom:0px;border-color:lightgray">
    @using (Html.BeginForm("ApplyPromoCode", "OnlineSale", FormMethod.Post))
    {


        <div class="col-md-6" tabindex=1>
            <label class="control-label">Promo Code</label>
            @Html.EditorFor(model => model.promoCodeModel.PromoCode, new { htmlAttributes = new { @class = "form-control", @id = "promoCode", @style = "width:200px;" } })
            @Html.ValidationMessageFor(model => model.promoCodeModel.PromoCode, "", new { @class = "text-danger" })

            <label class="control-label">Promo Discount Percentage</label>
            <br />
            @Html.EditorFor(model => model.promoCodeModel.PromoDiscountPercent, new { htmlAttributes = new { @class = "form-control", @id = "discount", @style = "width:200px;" } })
            @Html.ValidationMessageFor(model => model.promoCodeModel.PromoDiscountPercent, "", new { @class = "text-danger" })

            <label>Start Date</label>
            @Html.EditorFor(model => model.promoCodeModel.PromoStartDate, new { htmlAttributes = new { @class = "form-control date-picker", Id = "DatePickId", @style = "width:200px;" } })
            @Html.ValidationMessageFor(model => model.promoCodeModel.PromoStartDate, "", new { @class = "text-danger" })

            <label class="control-label">End Date</label>
            @Html.EditorFor(model => model.promoCodeModel.PromoEndDate, new { htmlAttributes = new { @class = "form-control date-picker", Id = "DatePickId", @style = "width:200px;" } })
            @Html.ValidationMessageFor(model => model.promoCodeModel.PromoEndDate, "", new { @class = "text-danger" })<br />
            <button type="submit" class="btn btn-warning btn-lg" id="btnregister">
                <span class="glyphicon glyphicon-ok-sign"></span> Save
            </button>
        </div>




    }

</div>
