@model OnlineStore.WebUI.Models.ShippingDetailsViewModel

@{
    ViewBag.Title = "Online Store: Checkout";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">*@


<style>
body {
  font-family: Arial;
  font-size: 12px;
  padding: -40px;
  margin-left:-20px;
}

* {
  box-sizing: border-box;
}

.row {
  /*display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;*/
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  color:cornflowerblue
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 95%; /* IE10 */
  flex: 95%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 5px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px;
  border: 1px solid 
  border-radius: 3px;
}

input[type=text] {
  width: 80%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  vertical-align:central;
}

        .btn:hover {
            background-color: orange;
            color: white;
        }

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
</style>

<div class="container"style="margin-right:0px">        
            @using (Html.BeginForm("Checkout", "ShoppingCart", FormMethod.Post))
            {        
    <div class="col-md-4">
        <h3>Billing Address</h3>
        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "John M. Doe" })
        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
        <label for="email"><i class="fa fa-envelope"></i> Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "john@example.com" })
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
        @Html.TextBoxFor(x => x.AddressLine1, new { @class = "form-control", placeholder = "542 W. 15th Street" })
        @Html.ValidationMessageFor(x => x.AddressLine1, "", new { @class = "text-danger" })
        <label for="city"><i class="fa fa-institution"></i>Suburb</label>
        @Html.TextBoxFor(x => x.Suburb, new { @class = "form-control", placeholder = "Sydney" })
        @Html.ValidationMessageFor(x => x.Suburb, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-50">
                <label for="state">State</label>
                @Html.DropDownListFor(x => x.State, new List<SelectListItem>
               {
                           new SelectListItem{ Text="NSW", Value = "NSW" },
                           new SelectListItem{ Text="QLD", Value = "QLD" },
                           new SelectListItem{ Text="SA", Value = "SA" },
                           new SelectListItem{ Text="TAS", Value = "TAS" },
                           new SelectListItem{ Text="VIC", Value = "VIC" },
                           new SelectListItem{ Text="WA", Value = "WA" },
                           new SelectListItem{ Text="ACT", Value = "ACT" },
                           new SelectListItem{ Text="NT", Value = "NT" }
               }, "Please select a state", new { @class = "form-control", style = "Height:40px" })
                @Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })
            </div>
            <div class="col-50">
                <label for="zip">PostCode</label>
                @Html.TextBoxFor(x => x.Postcode, new { @class = "form-control", placeholder = "2410" })
                @Html.ValidationMessageFor(x => x.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
                <div class="col-md-4">
                    <h3>Payment</h3>
                    <label for="fname">Accepted Cards</label>
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                        <i class="fa fa-cc-paypal" style="color:Highlight;"></i>

                    </div>
                    <label for="cname">Name on Card</label>
        @Html.TextBoxFor(x => x.nameOnCard, new { @class = "form-control", placeholder = "John More Doe" })
        @Html.ValidationMessageFor(x => x.nameOnCard, "", new { @class = "text-danger" })
        <label for="ccnum">Credit card number</label>
        @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control", placeholder = "1111-2222-3333-4444" })
        @Html.ValidationMessageFor(x => x.CardNumber, "", new { @class = "text-danger" })
        <label for="expmonth">Exp Month</label>    
        @Html.TextBoxFor(x => x.expmonth, new { @class = "form-control", placeholder = "September" })
        @Html.ValidationMessageFor(x => x.expmonth, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-50">
                <label for="expyear">Exp Year</label>           
                @Html.TextBoxFor(x => x.expyear, new { @class = "form-control", placeholder = "2022" })
                @Html.ValidationMessageFor(x => x.expyear, "", new { @class = "text-danger" })
            </div>
            <div class="col-50">
                <label for="cvv">CVV</label>          
                @Html.TextBoxFor(x => x.cvv, new { @class = "form-control", placeholder = "352" })
                @Html.ValidationMessageFor(x => x.cvv, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
                <div class="col-md-4" style="margin-right:0px">

                    <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b></b></span></h4>
                    <table id="cartTable" class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th class="text-right">Price</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @if (Session["Productcart"] != null)
                            {
                            foreach (var line in ((OnlineStore.WebUI.Models.ShoppingCart)Session["Productcart"]).Lines)
                            {
                                <tr>
                                    <td>@line.SaleProduct.ProductName</td>
                                    <td>@line.Quantity</td>
                                    <td class="text-right">@line.SaleProduct.PriceIncGST.ToString("c")</td>
                                </tr>
                            }
                            }
                        </tbody>
                        </table>

</div>
      
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                </label>
                <input type="submit" value="Continue to checkout" class="btn">
            }
           
   
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
