@using System.Linq;
@model OnlineStore.WebUI.Models.MainPageProductsViewModel
@{
    ViewBag.Title = "Verser OnlineStore";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="~/Scripts/ProductPage.js"></script>
<div class="container" style="width:1200px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color:orange"></li>
            <li data-target="#myCarousel" data-slide-to="1" style="background-color:lightcyan"></li>
            <li data-target="#myCarousel" data-slide-to="2" style="background-color:lightgray"></li>
            <li data-target="#myCarousel" data-slide-to="3" style="background-color:lightskyblue"></li>
            <li data-target="#myCarousel" data-slide-to="4" style="background-color:black"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner align-content-center">
            <div class="item active" style="background-color:orange">
                <img src="~/Images/macbookpro5.jpg" alt="Los Angeles" style="width:20%;" class="img-responsive">
            </div>

            <div class="item" style="background-color:lightcyan">
                <img src="~/Images/SurfacePro2.jpg" alt="Chicago" style="width:20%;" class="img-responsive">
            </div>
            <div class="item" style="background-color:lightgray">
                <img src="~/Images/galaxys9.jpg" alt="New york" style="width:15%;" class="img-responsive">
            </div>
            <div class="item" style="background-color:lightskyblue">
                <img src="~/Images/ipad2.jpg" alt="New york" style="width:30%;" class="img-responsive">
            </div>
            <div class="item" style="background-color:mediumspringgreen" >
                <img src="~/Images/mac4.jpg" alt="New york" style="width:15%;" class="img-responsive" >
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model.OnlineSaleProductModel.Where(p => p.ItemType_ID == 15).OrderByDescending(m => m.Id).Take(4).ToList())
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h5 class="pull-right">$@item.PriceIncGST</h5>
                        <h6>@item.ProductName</h6>
                        <p><img src="~/ProductImages/@item.Images.FirstOrDefault()" onclick="ShowProductDetailPage(@item.Id);" style="width:260px;height:280px;" class="img-responsive" /></p>
                    </div>
                    <div class="btn-success">
                        <a href="@Url.Action("AddToCartNoVerb", "OnlineSale", new { @id = item.Id, @returnUrl = string.Empty })" class="btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART
                        </a>
                    </div>
                    <div class="space-ten"></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model.OnlineSaleProductModel.Where(p => p.ItemType_ID ==40).OrderByDescending(m => m.Id).Take(4).ToList())
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h5 class="pull-right">$@item.PriceIncGST</h5>
                        <h6>@item.ProductName</h6>
                        <p><img src="~/ProductImages/@item.Images.FirstOrDefault()" onclick="ShowProductDetailPage(@item.Id);" style="width:260px;height:280px;" class="img-responsive" /></p>
                    </div>
                    <div class="btn-success">
                        <a href="@Url.Action("AddToCartNoVerb", "OnlineSale", new { @id = item.Id, @returnUrl = string.Empty })" class="btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART
                        </a>
                    </div>
                    <div class="space-ten"></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model.OnlineSaleProductModel.Where(p => p.ItemType_ID == 3).OrderByDescending(m => m.Id).Take(4).ToList())
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h5 class="pull-right">$@item.PriceIncGST</h5>
                        <h6>@item.ProductName</h6>
                        <p><img src="~/ProductImages/@item.Images.FirstOrDefault()" onclick="ShowProductDetailPage(@item.Id);" style="width:280px;height:280px;" class="img-responsive" /></p>
                    </div>

                    <div class="btn-success">
                        <a href="@Url.Action("AddToCartNoVerb", "OnlineSale", new { @id = item.Id, @returnUrl = string.Empty })" class="btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART
                        </a>
                    </div>
                    <div class="space-ten"></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model.OnlineSaleProductModel.Where(p => p.ItemType_ID == 1).OrderByDescending(m => m.Id).Take(4).ToList())
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h5 class="pull-right">$@item.PriceIncGST</h5>
                        <h6>@item.ProductName</h6>
                        <p><img src="~/ProductImages/@item.Images.FirstOrDefault()" onclick="ShowProductDetailPage(@item.Id);" style="width:280px;height:280px;" class="img-responsive" /></p>
                    </div>
                    <div class="btn-success">
                        <a href="@Url.Action("AddToCartNoVerb", "OnlineSale", new { @id = item.Id, @returnUrl = string.Empty })" class="btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART
                        </a>
                    </div>
                    <div class="space-ten"></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model.OnlineSaleProductModel.Where(p => p.ItemType_ID == 2).OrderByDescending(m => m.Id).Take(4).ToList())
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h5 class="pull-right">$@item.PriceIncGST</h5>
                        <h6>@item.ProductName</h6>
                        <p><img src="~/ProductImages/@item.Images.FirstOrDefault()" onclick="ShowProductDetailPage(@item.Id);" style="width:280px;height:280px;" class="img-responsive" /></p>
                    </div>
                    <div class="btn-success">
                        <a href="@Url.Action("AddToCartNoVerb", "OnlineSale", new { @id = item.Id, @returnUrl = string.Empty })" class="btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART
                        </a>
                    </div>

                    <div class="space-ten"></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container" style="margin-bottom:40px;">
    @*<div class="row">*@
    <div class="col-sm-2">
        <div class="item" style="vertical-align:central"> <img style="max-width: 100%;vertical-align: central" src="~/Images/apple.jpeg" alt="Submit" width="100" height="70"></div>
    </div>
    <div class="col-sm-2">
        <div class="item"> <img style="max-width:100%;" src="~/Images/samsung.png" alt="Submit" width="80" height="60"></div>
    </div>
    <div class="col-sm-2">
        <div class="item"> <img style="max-width:100%;" src="~/Images/dell.png" alt="Submit" width="80" height="60"></div>
    </div>
    <div class="col-sm-2">
        <div class="item"> <img style="max-width:100%;" src="~/Images/hp.png" alt="Submit" width="80" height="60"></div>
    </div>
    <div class="col-sm-2">
        <div class="item"> <img style="max-width:100%;" src="~/Images/microsoftlogo.jpg" alt="Submit" width="90" height="80"></div>
    </div>
    <div class="col-sm-2">
        <div class="item"> <img style="max-width:100%;" src="~/Images/logolenovo.jpg" alt="Submit" width="80" height="60"></div>
    </div>
    @*</div>*@
</div>
<div id="spinner" style="display:none;">
    <img src="~/Images/ajax-loader.gif" />
</div>
<script>
    $('.carousel').carousel({
        interval: 2000
    });

    function ShowProductDetailPage(ProductId) {
        var objSpinner = null;
        $.ajax({
            type: "GET",
            data: { "ProductId": ProductId },
            url: '@Url.Action("ProductDetail", "OnlineSale")',
            beforeSend: function () {
                objSpinner = $.alert({
                    boxWidth: '50px',
                    useBootstrap: false,
                    title: '',
                    content: $("#spinner").html(),
                    buttons: {
                        yes: { isHidden: true }
                    }
                })
            },
            success: function (data) {
                $("#spinner").hide();
                objSpinner.close();
                $.confirm({
                    boxWidth: '800px',
                    useBootstrap: false,
                    title: '',
                    content: data,
                    closeIcon: true,

                    buttons: {
                        yes: { isHidden: true }
                    },
                });
            }
        });
    }
</script>
<style>
    .item {
        left: 0;
        top: 0;
        position: relative;
        overflow: hidden;
        margin-top: 0px;
    }
        .item img {
            -webkit-transition: 0.6s ease;
            transition: 0.6s ease;
        }
            .item img:hover {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
    .img-thumbnail {
        border: 0px;
        border-radius: 0px;
    }
    .btn-success {
        width: 100%;
        border-radius: 0;
    }
</style>
