@model OnlineStore.WebUI.Models.OnlineSaleProduct



<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
<script src="~/Scripts/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="~/Scripts/jquery.elevatezoom.js"></script>
<div class="panel-body" style="font-size:small;color:grey;border-color:gray;padding:0px">
    <br>
    <div class="row" style="padding-right: 0px;margin-right: 0px;">
        <div class="col-md-4 item-photo">
            <img style="max-width:100%;"src="/ProductImages/@Model.Images.FirstOrDefault()" @*data-zoom-image="/ProductImages/@Model.Images.FirstOrDefault()"*@ />
            <div id="gal1">
                @foreach (var item in Model.Images)
                {
                    <a href="#" class="elevatezoom-gallery" data-update="" data-image="/ProductImages/@item" data-zoom-image="/ProductImages/@item">
                        <img src="/ProductImages/@item" width="50">
                    </a>
                }
            </div>
        </div>
        <div class="col-md-8" style="border:0px solid gray">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="font-weight:400">
                        @Html.DisplayFor(model => model.BrandName)  @Html.DisplayFor(model => model.ModelName)  @Html.DisplayFor(model => model.ProductName)
                    </h2>
                </div>
            </div>

            <div class="row well">
                <div class="col-md-12" style="text-align:justify">
                    <label class="control-label" style="font-size:20px">Description:</label>
                    <h4>
                    @Html.DisplayFor(model => model.Description)
                    </h4>
                </div>
            </div>

            <div class="row" style="padding-top:15px; border-top:1px solid lightgray">
                <div class="col-md-12">
                    <label class="control-label" style="font-size:medium">$</label>
                    <span id="priceLabel" style="font-size:18px; font-weight:800"> @Html.DisplayFor(model => model.PriceIncGST, new { }) </span><label style="font-size:x-small">&nbsp;&nbsp;&nbsp; (Inc GST)</label>
                    @Html.HiddenFor(model => model.PriceIncGST, new { @id = "hiddenPrice" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" style="font-size:18px;">Available:</label>
                    <span style="font-size:18px; font-weight:800">@Html.DisplayFor(model => model.QtyAvailable)</span>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="col-sm-1">
                    @Html.DropDownListFor(m => m.PurchasedQty, Enumerable.Range(1, Model.QtyAvailable).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", style = "font-size:small; margin-top:0", placeholder = "Quantity", @id = "ddlQuantity" })
                    @Html.ValidationMessageFor(model => model.PurchasedQty, null, new { @class = "text-danger" })
                </div>


                <div class="col-md-4">
                    @using (Html.BeginForm("AddToCart", "OnlineSale", new { @id = Model.Id, @returnUrl = Request.Url.PathAndQuery }, FormMethod.Post))
                    {
                        <div>
                            <input type="hidden" id="hdnQty" name="hdnQty" />
                            <input type="hidden" id="hdnprice" name="hdnprice" />
                            @if (Model.QtyAvailable > 0)
                            {
                                <button class="btn-success" style="align-content:center; padding:10px"><span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART</button>
                            }
                            else
                            {
                                <h3 style="margin-top:5px">Sold Out</h3>
                            }
                        </div>
                    }
                </div>

            </div>

            <div class="row">
                @if (Model.QtyAvailable > 0)
                {
                    <div class="col-md-2" style="padding-top:10px">
                        <input type="text" id="PromoCodetxt" style="font-size:small;vertical-align:top" placeholder="Promocode Here.." />
                    </div>
                    <div class="col-md-3" style="padding-top:10px">
                        <input type="submit" class="btn-success" style="padding:6px" value="Apply" onclick="ApplyPromoCode();" />
                    </div>
                }
            </div>
            </>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var selectedVal = $('#ddlQuantity').val();
        $("#hdnQty").val($("#ddlQuantity :selected").val());
        var total = $("#hiddenPrice").val() * selectedVal;
        $("#priceLabel").text(total);
        $("#hdnprice").val($("#priceLabel").text());
    });

    $("#zoom_01").elevateZoom({zoomWindowPosition: 10});


    $("#zoom_01").bind("hover", function (e) {
        var ez = $('#zoom_01').data('elevateZoom');
        $.fancybox(ez.getGalleryList());
        return false;
    });

    $('#ddlQuantity').change(function () {
        var selectedVal = $('#ddlQuantity').val();
        $("#hdnQty").val($("#ddlQuantity :selected").val());
        var total = $("#hiddenPrice").val() * selectedVal;
        $("#priceLabel").text(total);
        $("#hdnprice").val($("#priceLabel").text());
    });

    function ApplyPromoCode() {
        var promocode = $("#PromoCodetxt").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ApplyPromoCode", "OnlineSale")',
            contentType: "application/json; charset=utf-8",
            data: { "promoCode": promocode },
            datatype: "json",
            success: function (data) {
                var discountedRate = (data / 100) * $("#priceLabel").text();
                discountedRate = $("#priceLabel").text() - discountedRate;
                $("#priceLabel").text(discountedRate);
                $("#hdnprice").val($("#priceLabel").text());
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    }
</script>
<style>
    #gallery_01 img {
        border: 2px solid white;
    }

    /*Change the colour*/
    .active img {
        border: 2px solid #333 !important;
    }
</style>

