@model OnlineStore.WebUI.Models.OnlineSaleProduct



<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
<script src="~/Scripts/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="~/Scripts/jquery.elevatezoom.js"></script>
<div class="panel-body" style="font-size:small;color:grey;border-color:gray;padding:0px">
    <br>
    <div class="row" style="border:1px solid #ddd; border-left:solid;border-width:thin; padding-right: 0px;margin-right: 0px;">
        <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" id="zoom_01" src="/ProductImages/@Model.Images.FirstOrDefault()" data-zoom-image="/ProductImages/@Model.Images.FirstOrDefault()" />



        </div>
       
        <div class="col-md-8" style="border:0px solid gray">
            <div id="gal1" style="width: 500px;float:left" ;>
                @foreach (var item in Model.Images)
                {
                    <a href="#" class="elevatezoom-gallery" data-update="" data-image="/ProductImages/@item" data-zoom-image="/ProductImages/@item">
                        <img id="img_01" src="/ProductImages/@item" width="100">
                    </a>
                  
                }
                </div>
            <div class="row">
                <div class="col-md-12" style="font-weight:600">
                    @Html.DisplayFor(model => model.BrandName)  @Html.DisplayFor(model => model.ModelName)  @Html.DisplayFor(model => model.ProductName)
                </div>
                <div class="col-md-12">
                    <br />
                    <label class="control-label">Description:</label>
                    @Html.DisplayFor(model => model.Description)
                </div>
                <div class="col-md-12">
                    <br /> <label class="control-label">PriceIncGST:</label>
                    @Html.DisplayFor(model => model.PriceIncGST)
                </div>
                <div class="col-md-12">
                    <br /> <label class="control-label">Available:</label>
                    @Html.DisplayFor(model => model.QtyAvailable)
                </div>
                <div class="col-sm-12" style="font-size:small">
                    <div class="col-sm-3">
                        Colour
                        @*@Html.DropDownListFor(m => m.Colour, Model.Colours, "Select Colour", new { @class = "form-control", @id = "ddlOrderID", @multiple = "multiple" })*@
                        @Html.DropDownListFor(model => model.Colour, new List<SelectListItem>
                                {
                                            new SelectListItem{ Text="Black", Value = "Black" },
                                            new SelectListItem{ Text="White", Value = "White" },
                                            new SelectListItem{ Text="Grey", Value = "Grey" },
                                            new SelectListItem{ Text="Red", Value = "Red" },
                                            new SelectListItem{ Text="Blue", Value = "Blue" },
                                            new SelectListItem{ Text="Silver", Value = "Silver" },
                                            new SelectListItem{ Text="Gold", Value = "Gold" },
                                            new SelectListItem{ Text="Space Grey", Value = "Space Grey" }
                                }, "Colours", new { @class = "form-control", style = "Height:40px;font-size:small" })
                    </div>
                    <div class="col-sm-3">
                        Memory
                        @*@Html.DropDownListFor(m => m.Size, Model.Sizes, "Select Colour", new { @class = "form-control", @id = "ddlOrderID", @multiple = "multiple" })*@

                        @Html.DropDownListFor(model => model.Colour, new List<SelectListItem>
                               {
                                           new SelectListItem{ Text="16GB", Value = "16GB" },
                                           new SelectListItem{ Text="32GB", Value = "32GB" },
                                           new SelectListItem{ Text="128GB", Value = "128GB" },
                                           new SelectListItem{ Text="256GB", Value = "256GB" },
                                           new SelectListItem{ Text="512GB", Value = "512GB" },
                                           new SelectListItem{ Text="1TB", Value = "1TB" },
                                           new SelectListItem{ Text="1.5TB", Value = "1.5TB" },
                                           new SelectListItem{ Text="2TB", Value = "2TB" }
                               }, "Sizes", new { @class = "form-control", style = "Height:40px;font-size:small" })
                    </div>
                    <div class="col-sm-3">
                        Quantity
                        @Html.DropDownListFor(m => m.PurchasedQty, Enumerable.Range(1, 500).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", style = "font-size:small", placeholder = "Quantity" })
                        @Html.ValidationMessageFor(model => model.PurchasedQty, null, new { @class = "text-danger" })
                    </div>
                </div>
                <br />
            </div>
            @using (Html.BeginForm("AddToCart", "OnlineSale", new { @id = Model.Id, @returnUrl = Request.Url.PathAndQuery }, FormMethod.Post))
            {
                <div>
                    <button class="btn-success" style="align-content:center;border-radius:30px"><span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART</button>
                </div>
            }
            <br />
            <div class="col-md-12" style="font-size:smaller">
                <div class="col-md-4">
                    <a href="#" id="promocodeCheckLink">Apply PromoCode?</a>
                </div>
                <div class="col-md-4" style="font-size:smaller">
                    <input type="text" id="PromoCodetxt" style="font-size:small;vertical-align:top" placeholder="Promocode Here.." />
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn-outline-success btn-sm" value="Apply" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#zoom_01").elevateZoom({zoomWindowPosition: 10});

    //pass the images to Fancybox
    //$("#zoom_01").bind("click", function (e) {
    //    var ez = $('#zoom_01').data('elevateZoom');
    //    $.fancybox(ez.getGalleryList());
    //    return false;
    //});
</script>
<style>
    #gallery_01 img {
        border: 2px solid white;
    }

    /*Change the colour*/
    .active img {
        border: 2px solid #333 !important;
    }
</style>

