@model OnlineStore.WebUI.Models.OnlineSaleProduct



<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
<script src="~/Scripts/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="~/Scripts/jquery.elevatezoom.js"></script>
<div class="panel-body" style="font-size:small;color:grey;border-color:gray;padding:0px">
    <br>
    <div class="row" style="border:1px solid #ddd; border-left:solid;border-width:thin; padding-right: 0px;margin-right: 0px;">
        <div class="col-md-4 item-photo">
            <img style="max-width:100%;" id="zoom_01" src="/ProductImages/@Model.Images.FirstOrDefault()" data-zoom-image="/ProductImages/@Model.Images.FirstOrDefault()" />
            <div id="gal1">
                @foreach (var item in Model.Images)
                {
                    <a href="#" class="elevatezoom-gallery" data-update="" data-image="/ProductImages/@item" data-zoom-image="/ProductImages/@item">
                        <img id="img_01" src="/ProductImages/@item" width="50">
                    </a>

                }
            </div>


        </div>
       
        <div class="col-md-8" style="border:0px solid gray">
            
            <div class="row">
                <div class="col-md-12" style="font-weight:600">
                    @Html.DisplayFor(model => model.BrandName)  @Html.DisplayFor(model => model.ModelName)  @Html.DisplayFor(model => model.ProductName)
                </div>
                <div class="col-md-12">
                    <br />
                    <label class="control-label">Description:</label>
                    @Html.DisplayFor(model => model.Description)
                </div>
                <div class="col-md-12">
                    <br /> <label class="control-label">PriceIncGST:</label>
                    <span id="priceLabel"> @Html.DisplayFor(model => model.PriceIncGST, new { })</span>
                    @Html.HiddenFor(model => model.PriceIncGST, new {@id="hiddenPrice" })
                </div>
                <div class="col-md-12">
                    <br /> <label class="control-label">Available:</label>
                    @Html.DisplayFor(model => model.QtyAvailable)
                </div>
                <div class="col-sm-12" style="font-size:small">
                    <div class="col-sm-3">
                        Colour
                        @*@Html.DropDownListFor(m => m.Colour, Model.Colours, "Select Colour", new { @class = "form-control", @id = "ddlOrderID", @multiple = "multiple" })*@
                        @Html.DropDownListFor(model => model.Colour, new List<SelectListItem>
                                {
                                            new SelectListItem{ Text="Black", Value = "Black" },
                                            new SelectListItem{ Text="White", Value = "White" },
                                            new SelectListItem{ Text="Grey", Value = "Grey" },
                                            new SelectListItem{ Text="Red", Value = "Red" },
                                            new SelectListItem{ Text="Blue", Value = "Blue" },
                                            new SelectListItem{ Text="Silver", Value = "Silver" },
                                            new SelectListItem{ Text="Gold", Value = "Gold" },
                                            new SelectListItem{ Text="Space Grey", Value = "Space Grey" }
                                }, "Colours", new { @class = "form-control", style = "Height:40px;font-size:small" })
                    </div>
                    <div class="col-sm-3">
                        Memory
                        @*@Html.DropDownListFor(m => m.Size, Model.Sizes, "Select Colour", new { @class = "form-control", @id = "ddlOrderID", @multiple = "multiple" })*@

                        @Html.DropDownListFor(model => model.Size, new List<SelectListItem>
                               {
                                           new SelectListItem{ Text="16GB", Value = "16GB" },
                                           new SelectListItem{ Text="32GB", Value = "32GB" },
                                           new SelectListItem{ Text="128GB", Value = "128GB" },
                                           new SelectListItem{ Text="256GB", Value = "256GB" },
                                           new SelectListItem{ Text="512GB", Value = "512GB" },
                                           new SelectListItem{ Text="1TB", Value = "1TB" },
                                           new SelectListItem{ Text="1.5TB", Value = "1.5TB" },
                                           new SelectListItem{ Text="2TB", Value = "2TB" }
                               }, "Sizes", new { @class = "form-control", style = "Height:40px;font-size:small" })
                    </div>
                    <div class="col-sm-3">
                        Quantity
                        @Html.DropDownListFor(m => m.PurchasedQty, Enumerable.Range(1, Model.QtyAvailable).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", style = "font-size:small", placeholder = "Quantity",@id="ddlQuantity" })
                        @Html.ValidationMessageFor(model => model.PurchasedQty, null, new { @class = "text-danger" })
                    </div>
                </div>
                <br />
            </div>
            @using (Html.BeginForm("AddToCart", "OnlineSale", new { @id = Model.Id, @returnUrl = Request.Url.PathAndQuery }, FormMethod.Post))
            {
        <div>
            <input type="hidden" id="hdnQty" name="hdnQty" />
            <input type="hidden" id="hdnprice" name="hdnprice" />
            <button class="btn-success" style="align-content:center;border-radius:30px"><span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART</button>
        </div>
            }
            <br />
            <div class="col-md-12" style="font-size:smaller">
                <div class="col-md-4">
                    <a href="#" id="promocodeCheckLink">Apply PromoCode?</a>
                </div>
                <div class="col-md-4" style="font-size:smaller">
                    <input type="text" id="PromoCodetxt" style="font-size:small;vertical-align:top" placeholder="Promocode Here.." />
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn-outline-success btn-sm" value="Apply"  onclick="ApplyPromoCode();"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var selectedVal = $('#ddlQuantity').val();
        $("#hdnQty").val($("#ddlQuantity :selected").val());
        var total = $("#hiddenPrice").val() * selectedVal;
        $("#priceLabel").text(total);
        $("#hdnprice").val($("#priceLabel").text());
    });

    $("#zoom_01").elevateZoom({zoomWindowPosition: 10});

    //pass the images to Fancybox
    //$("#zoom_01").bind("click", function (e) {
    //    var ez = $('#zoom_01').data('elevateZoom');
    //    $.fancybox(ez.getGalleryList());
    //    return false;
    //});

    $('#ddlQuantity').change(function () {
        var selectedVal = $('#ddlQuantity').val();
        $("#hdnQty").val($("#ddlQuantity :selected").val());
        var total = $("#hiddenPrice").val() * selectedVal;
        $("#priceLabel").text(total);
        $("#hdnprice").val($("#priceLabel").text());
    });

    function ApplyPromoCode() {
        var promocode = $("#PromoCodetxt").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ApplyPromoCode", "OnlineSale")',
            contentType: "application/json; charset=utf-8",
            data: { "promoCode": promocode },
            datatype: "json",
            success: function (data) {
                var discountedRate = (data / 100) * $("#priceLabel").text();
                discountedRate = $("#priceLabel").text() - discountedRate;
                $("#priceLabel").text(discountedRate);
                $("#hdnprice").val($("#priceLabel").text());
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    }
</script>
<style>
    #gallery_01 img {
        border: 2px solid white;
    }

    /*Change the colour*/
    .active img {
        border: 2px solid #333 !important;
    }
</style>

