<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    @*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VERSER STORE</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="border-radius:0;margin-bottom:0 !important; background-color:black; padding:5px 10px;">
        <div class="col">
            <a href="@Url.Action("Index", "OnlineSale")">
                <img src="~/Images/VerserLogo.png" style="width:110px;height:60px;" />
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:2px solid gray">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="flipkart-navbar-search col-sm-8" style="max-width:650px">
            <input class="flipkart-navbar-input col-xs-11" placeholder="Search for Products, Brands and more" name="" id="txtSearchProduct" style="float:left; max-width:91%">
            <button class="flipkart-navbar-button col-xs-1" id="searchProduct" style="float:left">
                <svg width="15px" height="15px">
                    <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                </svg>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:black;">
            <ul class="navbar-nav mr-auto" style="float:right; padding-right:40px">
                <li style="overflow:hidden">
                    <div>
                        @Html.Action("Summary", "ShoppingCart")
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "ShoppingCart")" style="padding-left:15px; padding-right:15px">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </a>
                    @if (@Session["productinformation"] != null)
                    {
                        <input type="hidden" id="productinfo" style="margin:0" value='@Session["productinformation"].ToString()' />
                    }

                    @if (@Session["productinformation"] != null)
                    {
                        <input type="hidden" id="productinfo" style="margin:0" value='@Session["productinformation"].ToString()' />
                    }
                </li>
                @if (@Session["Username"] == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Login")" style="padding-left: 15px; padding-right: 15px">Login</a>
                    </li>
                }
                @if (@Session["Username"] != null)
                {
                    if (Session["SiteAdmin"] != null && Session["SiteAdmin"].Equals("True"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:14px !important; padding:15px 15px !important;">
                                @Session["Username"].ToString()
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:14px !important; background-color:white">
                                <a class="dropdown-item" href="@Url.Action("Index", "AssetAuction")" style="color:black!important;padding:10px 15px !important;">Auction</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "PublicUserProfile")" style="color:black!important; padding:10px 15px !important;">Profile</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "OrdersList")" style="color:black!important; padding:10px 15px !important;">Admin Console</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Login", "Login")" style="color:black!important; padding:10px 15px !important;">Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:14px !important; padding:15px 15px !important;">
                                @Session["Username"].ToString()
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:14px !important; background-color:white">
                                <a class="dropdown-item" href="@Url.Action("Index", "AssetAuction")" style="color:black!important; padding:10px 15px !important;">Auction</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "PublicUserProfile")" style="color:black!important; padding:10px 15px !important;">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Login", "Login")" style="color:black!important; padding:10px 15px !important;">Logout</a>
                            </div>
                        </li>
                    }
                }

            </ul>

        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:orange; padding:0 16px;margin-bottom:0 !important; justify-content:flex-end;border-radius:0;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Product-navbar" aria-controls="Product-navbar" aria-expanded="false" aria-label="Toggle navigation" style="border:1px solid gray">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="Product-navbar">
            <ul class=" navbar-nav mr-auto" style="margin-left:10%">
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Best Sellers", "Index", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Mobile", "Mobile", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Laptops", "Laptop", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Monitor", "Monitor", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Desktop PC", "DesktopPC", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("iPad", "IPad", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Accessories", "Mobile", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Printer", "Printer", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Servers", "Server", "OnlineSale")</li>
                <li class="nav-item" style="padding:8px 12px">@Html.ActionLink("Network Gears", "NetworkGear", "OnlineSale")</li>
                <li id="faq" class="nav-item no-border" style="padding:8px 12px">@Html.ActionLink("FAQ", "FAQ", "Home")</li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding:35px;margin:35px">
        <div class="modal-dialog">

            <div class="modal-content" style="padding:25px;margin:35px;font-size:smaller">
                <div class="modal-header">
                    <h4 class="modal-title" id="lineModalLabel">IMPORTANT ONLINESALE TERMS & CONDITIONS</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <ul style="padding-top:15px;">
                    <li>
                        PLEASE NOTE: The goods and services that are shipped out are accepted as per Verser Technology Lifecycles (Verser) Customer Terms of Sale.
                        Please refer to Verser Australia website for full details.
                    </li>
                    <li>
                        Unless otherwise stated, all prices quoted are in Australian Dollar (AUD) and are exclusive of GST, freight, and configuration changes.
                    </li>
                    <li>
                        Freight costs are based on the standard road delivery. Air freight or any other form of special delivery will incur additional costs and are quoted separately.
                    <li>
                    </li>
                    <li>
                        The pricing specified above is not combinable with any other offer.
                    </li>
                    <li>
                        Bundle pricing is subject to change in the event amendments are made to the quantity and/or bundle components ordered. Please contact your account manager should you require changes to the bundle lines.
                    </li>
                    <li>
                        This sale is valid only to the customer whose name appears above.
                    </li>
                    <li>
                        This sale has been prepared shipped upon products purchased.
                    </li>
                    <li>
                        The Verser Technology Lifecycles Order reference number and product descriptions and pricing specified in the order invoice must be included in your order.
                    </li>
                    <li>
                        All trademarks, brand names, and product names are the property of their respective owners.
                    </li>
                    <li>
                        The sale product posted above are correct at time of publishing and issuing the purchasing. All errors and omissions are excluded, and no other discounts apply.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <div class="my_footer text-center text-muted" style="bottom:0;position:page; width:100%;background-color:lightgray;color:dodgerblue;font-size:smaller">
        The @Session["CustomerName"] Site is Managed By Verser Technology Lifecycles &copy; @DateTime.Now.Year
        <img src="~/Images/PaymentOptions.PNG" />

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
            Terms & Conditions
        </button>
        ContactUs: <a href="tel:+61 1800 732 668" style="color:dodgerblue">+61 1800 732 668</a>  Mail: <a href="mailto:Support@verser.com.au" style="color:dodgerblue">Support@verser.com.au</a>
    </div>
</body>
</html>

<style type="text/css">

    .search-bar {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
    }

    #txtSearchProduct {
        width: 100%;
    }

    #searchProduct {
        background-color: lightgray;
        border: none;
    }

        #searchProduct:hover {
            background-color: orange;
            border: none;
        }

    .navbar-collapse {
        background-color: orange;
    }

        li.nav-item a {
            color: white !important;
            font-size:16px;
            padding:15px 8px;
        }

            li.nav-item a:hover {
                background-color: darkorange;
                transition: .35s;
            }

    .no-border {
        border-right: none;
    }

    #login-btn:hover {
        background-color: darkorange;
    }

    .modal-backdrop {
        background: none;
    }

    .btn-default {
        color: white;
        background-color: black;
        border:1px solid;
        border-color: transparent;
        padding:10px 10px;
        margin:12px 20px 0 0;
    }

        .btn-default:hover {
            background-color:white !important;
            color:black !important;
        }

    .flipkart-navbar-input {
        padding: 11px 10px;
        border-radius: 12px 0 0 12px;
        border: 0 none;
        outline: 0 none;
        font-size: 15px;
    }

    .modal-dialog {
        max-width: 1000px;
    }

    a {
        color: white;
        cursor: pointer;
    }

        a:hover {
            text-decoration: none;
        }

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: none;
        background-color: transparent !important;
    }

    .flipkart-navbar-button {
        border: 1px solid Orange;
        border-radius: 0 12px 12px 0;
        color: #565656;
        padding: 10px 0;
        height: 43px;
        cursor: pointer;
    }

    .smallsearch {
        margin-left: 10px;
        margin-top: 10px;
    }

    a.cartImage {
        background: url(../Images/cart.png) no-repeat top right;
        display: block;
        color: blue;
        text-indent: -9999px;
    }
</style>

<script>

$('a[href$="#Modal"]').on( "click", function() {
   $('#Modal').modal('show');
});

    $(document).on('keypress', function (e) {
        if (e.which == 13) { ShowProduct(); }
    });
    var product1 = $("#searchProduct").val();
    $("#searchProduct").on('click', function () {
        ShowProduct();

    });

    function ShowProduct() {
         $.ajax({
    url: '@Url.Action("AllProducts","OnlineSale")',
        data: { "product": $("#txtSearchProduct").val() },
    contentType: "application/json;charset=utf-8"
}).done(function(res) {
     window.location.href = res.newUrl;
}).fail(function(xhr, a, error) {
      console.log(error);
});
    }

    $(function () {
        var names = $("#productinfo").val().split(',');
        $("#txtSearchProduct").autocomplete({
            source: names
        });
    });

</script>