<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    @*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VERSER STORE</title>
</head>




<body>

    @*Top Search bar*@


    <div class="search-bar" style="background-color:black;min-width:1566px">
        <div class="col-lg-3" style="vertical-align: central;width:200px">
            <div class="row" style="vertical-align: central;padding-left: 50px; width:200px">
                <img src="~/Images/VerserLogo.png" style="width:110px;height:60px;background-color:black;margin-right:100px" />
            </div>
        </div>

        <div id="flipkart-navbar" style="background-color:black">



            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11" style="width:550px;position:absolute;left:25%;">
                <input class="flipkart-navbar-input col-xs-11" placeholder="Search for Products, Brands and more" name="" id="txtSearchProduct">
                <button class="flipkart-navbar-button col-xs-1" id="searchProduct" style="position: absolute">
                    <svg width="15px" height="15px">
                        <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                    </svg>
                </button>
            </div>


            <div class="user-info" style="float:right;width:240px;margin:20px 0 0 0;position:absolute;right:12%">
                <ul style="list-style-type: none;width:240px">
                    @if (@Session["Username"] != null)
                    {
                        if (Session["SiteAdmin"] != null && Session["SiteAdmin"].Equals("True"))
                        {

                            <li class="user-info-item">@Html.ActionLink("Auction", "Index", "AssetAuction")</li>
                            <li class="user-info-item">@Html.ActionLink("OrdersList", "Index", "OrdersList")</li>
                            <li class="user-info-item">@Html.ActionLink("Logout", "Login", "Login")</li>

                        }
                        else
                        {
                            <li class="user-info-item">@Html.ActionLink("Auction", "Index", "AssetAuction")</li>
                            <li class="user-info-item">@Html.ActionLink("Profile", "Index", "PublicUserProfile")</li>
                            <li class="user-info-item">@Html.ActionLink("Logout", "Login", "Login")</li>
                        }

                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    }
                </ul>

            </div>



            <div class="navbar-right" style="vertical-align:bottom;color:white;position:absolute;right:8%">
                @Html.Action("Summary", "ShoppingCart")
            </div>
            @if (@Session["productinformation"] != null)
            {
                <input type="hidden" id="productinfo" style="position: absolute; left: 1350px;" value='@Session["productinformation"].ToString()' />
            }




        </div>
    </div>


    @*Nav Bar*@


    <nav class="navbar navbar-expand-lg navbar-light" style="padding-top:6px, inherit; padding:0; border:none;min-width:1566px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color:orange;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <<<<<<< HEAD
            <ul class="nav navbar-nav" style="font-size:16px; display: flex;">
                <li class="nav-item">@Html.ActionLink("Online Store", "Index", "OnlineSale")</li>
                =======
                <ul class="nav navbar-nav" id="nav-space" style="font-size:16px;padding:0 60px;display:block">
                    <li class="nav-item">@Html.ActionLink("Best Sellers", "Index", "OnlineSale")</li>
                    >>>>>>> 8ac2e6559998870aa91d7e9271c20ac8b47fdcd2
                    <li class="nav-item">@Html.ActionLink("Mobile", "Mobile", "OnlineSale")</li>
                    <li class="nav-item">@Html.ActionLink("Laptops", "Laptop", "OnlineSale")</li>
                    <li class="nav-item">@Html.ActionLink("Monitor", "Monitor", "OnlineSale")</li>
                    <li class="nav-item">@Html.ActionLink("Desktop PC", "DesktopPC", "OnlineSale")</li>
                    <li class="nav-item">@Html.ActionLink("Ipad", "IPad", "OnlineSale")</li>
                    <li class="nav-item">@Html.ActionLink("Accessories", "Mobile", "OnlineSale")</li>
                    <li class="nav-item">@Html.ActionLink("Printer", "Printer", "OnlineSale")</li>
                    <li class="nav-item">@Html.ActionLink("Servers", "Server", "OnlineSale")</li>
                    <li class="nav-item">@Html.ActionLink("Network Gears", "NetworkGear", "OnlineSale")</li>
                    <li id="faq" class="nav-item no-border">@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                </ul>

        </div>


    </nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding:35px;margin:35px">
        <div class="modal-dialog">

            <div class="modal-content" style="padding:25px;margin:35px;font-size:smaller">
                <div class="modal-header">
                    <h4 class="modal-title" id="lineModalLabel">IMPORTANT ONLINESALE TERMS & CONDITIONS</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <ul style="padding-top:15px;">
                    <li>
                        PLEASE NOTE: The goods and services that are shipped out are accepted as per Verser Technology Lifecycles (Verser) Customer Terms of Sale.
                        Please refer to Verser Australia website for full details.
                    </li>
                    <li>
                        Unless otherwise stated, all prices quoted are in Australian Dollar (AUD) and are exclusive of GST, freight, and configuration changes.
                    </li>
                    <li>
                        Freight costs are based on the standard road delivery. Air freight or any other form of special delivery will incur additional costs and are quoted separately.
                    <li>
                    </li>
                    <li>
                        The pricing specified above is not combinable with any other offer.
                    </li>
                    <li>
                        Bundle pricing is subject to change in the event amendments are made to the quantity and/or bundle components ordered. Please contact your account manager should you require changes to the bundle lines.
                    </li>
                    <li>
                        This sale is valid only to the customer whose name appears above.
                    </li>
                    <li>
                        This sale has been prepared shipped upon products purchased.
                    </li>
                    <li>
                        The Verser Technology Lifecycles Order reference number and product descriptions and pricing specified in the order invoice must be included in your order.
                    </li>
                    <li>
                        All trademarks, brand names, and product names are the property of their respective owners.
                    </li>
                    <li>
                        The sale product posted above are correct at time of publishing and issuing the purchasing. All errors and omissions are excluded, and no other discounts apply.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
    <div class="my_footer text-center text-muted" style="bottom:0;position:page; width:100%;background-color:lightgray;color:dodgerblue;font-size:smaller">
        The @Session["CustomerName"] Site is Managed By Verser Technology Lifecycles &copy; @DateTime.Now.Year
        <img src="~/Images/PaymentOptions.PNG" />

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
            Terms & Conditions
        </button>
        ContactUs: <a href="tel:+61 1800 732 668" style="color:dodgerblue">+61 1800 732 668</a>  Mail: <a href="mailto:Support@verser.com.au" style="color:dodgerblue">Support@verser.com.au</a>
    </div>
</body>
</html>

<style type="text/css">

    .search-bar {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
    }

    #txtSearchProduct {
        width: 460px;
    }

    #searchProduct {
        background-color: lightgray;
        border: none;
    }

        #searchProduct:hover {
            background-color: orange;
            border: none;
        }

    .user-info {
        color: white;
        z-index: 10;
        width: 100px;
    }

    li.user-info-item {
        display: inline;
        padding: 0 5px;
    }

    .navbar-right {
        padding-top: 5px;
    }

    .navbar-collapse {
        background-color: orange;
        padding-top: 50px;
    }

    .nav {
        padding: 0 !important;
    }

    .navbar-nav {
        padding: 0 !important;
    }

    .nav-item {
        padding: 0 !important;
    }

    li.nav-item a {
        color: white !important;
        padding: 12px 12px !important;
    }

    .no-border {
        border-right: none;
    }

    .nav-item:hover {
        background-color: darkorange;
        transition: .35s;
    }

    .modal-backdrop {
        background: none;
    }

    .btn-default {
        color: white;
        background-color: black;
        border-color: transparent;
        padding-top: 4px;
    }

    .flipkart-navbar-input {
        padding: 11px 10px;
        border-radius: 12px 0 0 12px;
        border: 0 none;
        outline: 0 none;
        font-size: 15px;
    }

    .modal-dialog {
        max-width: 1000px;
    }

    a {
        color: white;
        cursor: pointer;
    }

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: none;
        background-color: transparent !important;
    }

    .flipkart-navbar-button {
        border: 1px solid Orange;
        border-radius: 0 12px 12px 0;
        color: #565656;
        padding: 10px 0;
        height: 43px;
        cursor: pointer;
    }

    .smallsearch {
        margin-left: 10px;
        margin-top: 10px;
    }

    a.cartImage {
        background: url(../Images/cart.png) no-repeat top right;
        display: block;
        color: blue;
        text-indent: -9999px;
    }
</style>

<script>

$('a[href$="#Modal"]').on( "click", function() {
   $('#Modal').modal('show');
});

    $(document).on('keypress', function (e) {
        if (e.which == 13) { ShowProduct(); }
    });
    var product1 = $("#searchProduct").val();
    $("#searchProduct").on('click', function () {
        ShowProduct();

    });

    function ShowProduct() {
         $.ajax({
    url: '@Url.Action("AllProducts","OnlineSale")',
        data: { "product": $("#txtSearchProduct").val() },
    contentType: "application/json;charset=utf-8"
}).done(function(res) {
     window.location.href = res.newUrl;
}).fail(function(xhr, a, error) {
      console.log(error);
});
    }

    $(function () {
        var names = $("#productinfo").val().split(',');
        $("#txtSearchProduct").autocomplete({
            source: names
        });
    });

</script>
