@model IEnumerable<OnlineStore.WebUI.Models.AssetListModel>
@using System.Linq;
<div class="container" style="padding-top:2px;padding-bottom:0px;margin-left:0px;padding-left:0px;padding-right:10px">
    @using (Html.BeginForm("ExportAuctionResult", "AssetAuction",new { BundleId =7 }, FormMethod.Post, null))
    {
        <div class="row">
            <button type="submit" class="btn btn-default btn-sm" style="padding-left:10px;padding-top:2px;margin-left:10px;background-color:lightgray">
                <span class="glyphicon glyphicon-export black"></span> Export
            </button>
        </div>
    }
    <table class="table table-bordered table-responsive table-hover" id="AssetsTable" style="font-size:smaller;">
        <thead style="background-color:#959ca1;color:white">
            <tr>
                <th>SSN</th>
                <th>MAKE</th>
                <th>MODEL</th>
                <th>SERIAL</th>
                <th>MEMORY</th>
                <th>COLOUR</th>
                <th>GRADE</th>
                <th>ITEMTYPE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SSN</td>
                    <td>@item.Make</td>
                    <td>@item.Model</td>
                    <td>@item.Serial </td>
                    <td>@item.Memory</td>
                    <td>@item.Colour</td>
                    <td>@item.Grade</td>
                    <td>@item.ItemTypeName</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#AssetsTable').DataTable();
            $('.dataTables_filter').addClass('pull-right');
            $('[data-toggle="popover"]').popover({
                container: 'body'
            });
        });
    </script>
