@model OnlineStore.WebUI.Models.AssetAuctionBundleModel
@{
    ViewBag.Title = "AuctionAssetBundleBidingDetails";
}
<div class="container-fluid" style="max-width:95%;padding:0;">
    <div class="card text-center">
        <div class="card-header">
            <h4 class="card-text">@Model.BundleTitle</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body" style="overflow:hidden">
                            <img src="~/Images/iphone-xs-silver.jpg" style="height:350px;" id="cardImage" />
                        </div>
                        <div class="card-footer">
                            <div style="overflow:hidden">
                                <img src="~/Images/galaxys9.jpg" style="height:50px;" onclick="document.getElementById('cardImage').src='/Images/galaxys9.jpg'" />
                                <img src="~/Images/iPhone11ProMax.jpg" style="height:50px;" onclick="document.getElementById('cardImage').src='/Images/iPhone11ProMax.jpg'" />
                                <img src="~/Images/ipad2.jpg" style="height:50px;" onclick="document.getElementById('cardImage').src='/Images/ipad2.jpg'" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" style="min-height:450px">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-sm-4" style="min-height:350px; overflow:hidden">
                                <div class="card border-info mb-3" style="height:20%">
                                    <div class="card-header" style="color:green;font-size:small;font-weight:700; max-height:36px">Current Price $@Model.BundleBaseprice  No Reserve</div>
                                    <div class="card-body" style="min-height:299px">
                                        <div class="row">
                                            <div class="col-md-9" style="min-width:100%; margin-top:40px">
                                                <input type="text" placeholder="Biding Amount Here" id="message" style="width:74%" />
                                                <a href="#" class="btn btn-success btn-sm" id="sendmessage" value="Send">Bid</a>
                                                <input type="hidden" value="@Model.Id" id="Hdn_BundleID" />
                                            </div>

                                            <div class="col-md-6" style="padding:15px; min-width:100%; overflow:hidden" ">
                                                <input type="submit" class="btn-danger btn-sm" value="Quick Bid $@Model.BundleQuickBidPrice" />
                                                <input type="hidden" value="@Model.PostQuickBidPrice" id="Hdn_BundleQuickBidPrice" />
                                            </div>

                                            <div class="col-md-6" style="padding:0 15px 15px 15px; min-width:100%; overflow:hidden">
                                                <p>
                                                    <a href="#" class="btn btn-success btn">Buy Now $@Model.BundleBuyPrice</a>
                                                </p>
                                            </div>
                                            <div class="col-md-6" style="padding-top:10px;min-width:100%">
                                                <span id="current_timer"></span>

                                                <script>
                                                    $(function () {
                                                        $('#current_timer').countdowntimer({
                                                            currentTime: true,
                                                            size: "md"
                                                        });
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="min-height:350px">
                                <div class="card border-info mb-3" style="min-height:335px">
                                    <div class="card-header" style="color:green; font-weight:700">Bundle Full Description</div>
                                    <p class="card-text" style="text-align:justify; padding:15px 5px">@Model.BundleDescription</p>
                                </div>
                            </div>
                            <div class="col-sm-4" style="overflow-y: scroll; min-height:350px">
                                <div class="card border-info" style="min-height:335px">
                                    <div class="card-header" style="color:green;font-weight:700;">Live Bidings (@DateTime.Now.ToShortDateString())</div>
                                    <p class="card-text"><p id="discussion" style="height: 280px;overflow-y: scroll; margin:0">
                                        @foreach (var _bids in Model.BidTime_Price)
                                        {
                                            @_bids<br />
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="card" style="border:none">
                                    <div class="card-body" style="padding-left:0;">
                                        <div class="pull-left" style="padding-right:20px; padding-bottom:20px">
                                            <input type="submit" class="btn btn-warning" value="Assets Reference List" id="btnassetList" name="btnassetList" />
                                        </div>
                                        <div class="pull-left" style="padding-right:20px; padding-bottom:20px">
                                            <input type="submit" class="btn btn-warning" value="Full History Of Biding" name="btnLink" id="btnLink" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <p style="color:cornflowerblue;font-weight:500"> Bundle #Item 45789123 AUCTION End Date: @Model.Bundle_Auction_EndDate - Start Date :@Model.Bundle_Auction_StartDate </p>
        </div>
    </div>
</div>

<div class="container">
    <input type="hidden" id="displayname" />
</div>

<div class="modal fade " id="ModalPopUp" role="dialog">
    <div class="modal-dialog err-pop" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <div class="col-sm-12">
                    <div class="card border-info">
                        <div class="card-header" style="color:green;font-weight:700;">Live Bidings (@DateTime.Now.ToShortDateString())</div>
                        <div class="text-div" style="min-height:300px">
                        <p class="card-text">
                        <p style="overflow-y: scroll;">
                            @foreach (var _bids in Model.BidTime_Price)
                            {
                                @_bids<br />
                            }
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.countdownTimer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.countdownTimer.css" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(document).ready(function () {

            $("#message").keydown(function (event) {
                // Allow only backspace and delete
                if (event.keyCode == 46 || event.keyCode == 8) {
                    // let it happen, don't do anything
                }
                else {
                    // Ensure that it is a number and stop the keypress
                    if (event.keyCode < 48 || event.keyCode > 57) {
                        event.preventDefault();
                    }
                }
            });

            $("#btnLink").click(function () {
                $('#ModalPopUp').modal('show');
            });

        });
        $(function () {

            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {
                $('#discussion').append('<P><strong>' + htmlEncode(message) + '</strong></P>');
            };
            //$('#displayname').val(prompt('Enter your name:', ''));
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    var bidamount = $('#message').val();
                    var highbid = $('#Hdn_BundleQuickBidPrice').val();
                    if (bidamount == "" || bidamount == null ) {
                        $.confirm({
                            title: 'Warning!',
                            content: 'Bid Amount Is Empty!'
                        });
                        return false;
                    } else if (bidamount <= highbid)
                    {
                        $.confirm({
                            title: 'Warning!',
                            content: 'Bid Amount Is Not Higher Then Last Bid!'
                        });
                        return false;
                    }
                    $.confirm({
                        title: 'Confirm',
                        content: 'Are you sure you want to Bid with this Amount?',
                        buttons: {
                            confirm: function () {
                                var d = new Date();
                                var BidDateByUser = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                                // chat.server.send(BidDateByUser +'$'+ $('#message').val());
                                let BidId = 1;
                                let FK_Bid_AuctionCustomerID = 3;
                                let FK_Bid_AuctionBundleID = $('#Hdn_BundleID').val();
                                let BidPrice = $('#message').val();
                                let Bid_TimeStamp = BidDateByUser;
                                let BidUserId = $('#displayname').val();
                                chat.server.send($('#displayname').val(), 'Bid Time:' + BidDateByUser + '- $' + $('#message').val(), FK_Bid_AuctionCustomerID, FK_Bid_AuctionBundleID, BidPrice, FK_Bid_AuctionCustomerID);
                                // Clear text box and reset focus for next comment.
                                $(window.location.reload());
                                $('#message').val('').focus();
                            },
                            cancel: function () {
                            }
                        }
                    });
                });

                $('#QuickBidBtn').click(function () {
                    $.confirm({
                        title: 'Confirm',
                        content: 'Are you sure you want to Bid with this Amount?',
                        buttons: {
                            confirm: function () {
                                var d = new Date();
                                var BidDateByUser = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                                // chat.server.send(BidDateByUser +'$'+ $('#message').val());
                                let BidId = 1;
                                let FK_Bid_AuctionCustomerID = 3;
                                let FK_Bid_AuctionBundleID = $('#Hdn_BundleID').val();
                                let BidPrice = $('#Hdn_BundleQuickBidPrice').val();
                                let Bid_TimeStamp = BidDateByUser;
                                let BidUserId = $('#displayname').val();
                                chat.server.send($('#displayname').val(), 'Bid Time:' + BidDateByUser + '- $' + $('#Hdn_BundleQuickBidPrice').val(), FK_Bid_AuctionCustomerID, FK_Bid_AuctionBundleID, BidPrice, FK_Bid_AuctionCustomerID);
                                // Clear text box and reset focus for next comment.

                                $(window.location.reload());
                                $('#message').val('').focus();
                            },
                            cancel: function () {
                            }
                        }
                    });
                });

                $('#btnassetList').click(function () {

           let FK_Bid_AuctionBundleID = $('#Hdn_BundleID').val();
           var AddSiteURL = '@Url.Action("AuctionAssetList", "AssetAuction")'
            $.ajax({
                type: "GET",
                    url: AddSiteURL,
                    data: { "BundleId": FK_Bid_AuctionBundleID },

                success: function (data) {
                    $.confirm({
                        boxWidth: '40%',
                        useBootstrap: false,
                        title: '',
                        content: data,
                        backgroundDismiss: true,
                        closeIcon: true,
                        buttons: {
                            yes: { isHidden: true }
                        },
                    });
                },
                    error: function (result) { alert(result); console.log(result);}
            });
        });

    });
            });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
